@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document url-prefix("http://www.google.com/reader/view/"),url-prefix("https://www.google.com/reader/view/"){

#lhn-recommendations { visibility: hidden !important; height: 0 !important }
#title-and-status-holder { visibility: hidden !important; height: 0 !important; padding: 0 !important }
#lhn-add-subscription-section, #sections-header, #viewer-header { height: 40px !important }
#top-bar { height: 44px !important }
#search { padding: 7px 0 !important }

div.collapsed { line-height: normal !important }
div.entry-secondary { height: 16px !important }

#overview .title { font-size: 140% !important }

#entries.list .entry { border-left: 2px solid #FFF !important; border-right: 2px solid #FFF !important; }
#entries.list #current-entry { border-left: 2px solid #4D90F0 !important; border-right: 2px solid #4D90F0 !important; }
#entries.list #current-entry.expanded { border-color: #FFF !important; }
#entries.list #current-entry.expanded .entry-actions { border-bottom: 2px solid #4D90F0 !important; }
#entries.list #current-entry .collapsed { border-color: #4D90F0 !important; }
#entries.list .read .collapsed { background: #F5F5F5 !important; border-color: #F5F5F5 !important; }

#entries.list .read .entry-main .entry-title,
#entries.list .read .entry-main .entry-source-title,
#entries.list .read .entry-main .entry-date { color: #888 !important; }

#entries.list #current-entry.expanded.read .entry-main .entry-title,
#entries.list #current-entry.expanded.read .entry-main .entry-source-title,
#entries.list #current-entry.expanded.read .entry-main .entry-date { color: #666 !important; }

}
